.testimonials {
  margin: 100px auto 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
  display: flex;
}

.testimonials .card {
  position: relative;
  width: 350px;
  margin: 0 auto;
  background: _palette(fg);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.testimonials .card .content {
  position: relative;
  z-index: 2;
}
.testimonials .card .content p {
  font-size: 18px;
  line-height: 24px;
  color: _palette(bg);
}
.testimonials .card .content .image1 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid _palette(bg-secondary);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.testimonials .card .content .image1 img {
  width: 145px;
  height: auto;
  object-position: -25px;
}

.testimonials .card .content .details h2 {
  font-size: 18px;
  color: _palette(bg);
}

section.wrapper .spotlight1 {
  &:nth-child(2n) {
    div.inner {
      @include vendor('flex-direction', 'row');
      text-align: right;
    }

    .image {
      margin: 0 0 _size(element-margin) _size(section-spacing, large);
    }
  }
}
